.node {
  flex: 1;
  border-right: 0.5px solid rgb(32, 32, 32);
  padding-bottom: 1.5%;
  padding-right: 1.5%;
  position: relative;
  overflow: hidden;
}

@keyframes visitedNode {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes visitedStartNode {
  0% {
    background-color: green;
  }

  50% {
    background-color: rgba(0, 128, 0, 0.5);
  }

  75% {
    background-color: rgba(0, 128, 0, 0.75);
  }

  100% {
    background-color: green;
  }
}

@keyframes visitedEndNode {
  0% {
    background-color: red;
  }

  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }

  75% {
    background-color: rgba(255, 0, 0, 0.75);
  }

  100% {
    background-color: red;
  }
}

@keyframes visitedNodeOptimal {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    /* border-radius: 100%; */
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

.node-visited {
  /* background-color: blue; */
  animation-name: visitedNode;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: calc(var(--delay) * var(--delayFactor));
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited.node-optimal {
  /* background-color: blue; */
  animation-name: visitedNodeOptimal;
}

.node-visited.node-start {
  /* background-color: blue; */
  animation-name: visitedStartNode;
}

.node-visited.node-end {
  /* background-color: blue; */
  animation-name: visitedEndNode;
}

@keyframes wallNodeAnimation {
  0% {
    transform: scale(0.3);
    background-color: white;
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background-color: darkslategray;
  }
}

.node-wall {
  background-color: darkslategray;
  /* animation-name: wallNodeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; */
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-weight {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1vw;
}
