.settings {
  text-align: left;
  padding: 16px;
  width: 400px;
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 5%;
  background-color: rgba(51, 51, 51, 0.75);
  cursor: move;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate3d(0, 0, 0);
}

.settings.pass-through {
  pointer-events: none;
  opacity: 0.3;
  transition: 0.3s;
}

.settings h1 {
  font-size: large;
}

.settings-options {
  padding: 16px 0;
}
